<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>List item </title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
</head>

<body>

<br />


<div class="table-responsive-sm">
    <form action="#" th:action="@{/buyItem}" th:object="${itemDTO}" method="post">

        <div class="form-inline">
            <div class="form-group mb-2">
                <label for="min_price" class="sr-only">Min</label>
                <input type="text" class="form-control" id="min_price" placeholder="Min Price ...">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="max_price" class="sr-only">Max</label>
                <input type="text" class="form-control" id="max_price" placeholder="Max Price ...">
            </div>
            <a class="btn btn-primary mb-2" onclick="this.href='/csgo/'+document.getElementById('min_price').value +'/' + document.getElementById('max_price').value" href="" role="button">Tìm kiếm</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-primary mb-2">Rút</button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-primary mb-2" onclick="checkAll()">Chọn tất cả</button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-primary mb-2" onclick="uncheckAll()">Bỏ chọn</button>
        </div>

        <br />
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Giá web etop</th>
                <th scope="col">Giá etop VND</th>

                <th scope="col">Giá web buff</th>
                <th scope="col">Giá gốc Buff VND</th>
                <th scope="col">Giá Buff VND</th>
                <th scope="col">% chênh lệch Buff vs Etop</th>
                <th scope="col">Giá web gốc Buff Sell</th>
                <th scope="col">Giá VND Buff Sell</th>
                <th scope="col">% chênh lệch Buff Sell vs Etop</th>
                <th scope="col">Giá web Empire</th>
                <th scope="col">Giá VND Empire</th>
                <th scope="col">% chênh lệch Empire vs Etop</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="result : ${excelFileEntityList}">
                <td> <input type="checkbox" name="items" th:value="${result.name}"></td>
                <td th:text="${result.name}">Name</td>
                <td th:text="${result.etopOriginPrice}"></td>
                <td th:text="${result.etopPriceVnd}"></td>

                <td th:text="${result.buffOriginPrice}"></td>
                <td th:text="${result.buffOriginPriceVnd}"></td>
                <td th:text="${result.buffPriceVnd}"></td>
                <td th:text="${result.percentBuff}"></td>
                <td th:text="${result.buffOriginSellPrice}"></td>
                <td th:text="${result.buffSellPriceVnd}"></td>
                <td th:text="${result.percentBuffSell}"></td>
                <td th:text="${result.empireOriginPrice}"></td>
                <td th:text="${result.empirePriceVnd}"></td>
                <td th:text="${result.percentEmpire}"></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

<script type="text/javascript">
    // Select all check boxes : Setting the checked property to true in checkAll() function
    function checkAll(){
        var items = document.getElementsByName('items');
        for (var i = 0; i < items.length; i++) {
            if (items[i].type == 'checkbox')
                items[i].checked = true;
        }
    }
    // Clear all check boxes : Setting the checked property to false in uncheckAll() function
    function uncheckAll(){
        var items = document.getElementsByName('items');
        for (var i = 0; i < items.length; i++) {
            if (items[i].type == 'checkbox')
                items[i].checked = false;
        }
    }


</script>

</body>

</html>