<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu Crawl Data Game</title>
</head>
<body>

<ul>
    <li><a href="/csgo">Danh sách Item Csgo</a></li>
    <li><a href="/dota">Danh sách Item Dota2</a></li>
    <li><a href="http://35.213.181.248:8090/withdraw/empire">Danh sách chọn rút Item Empire</a></li>
    <ul>
        <li><a href="http://35.213.181.248:8090/withdraw/empire_etop">Danh sách chọn rút Item Empire theo Etop</a></li>
        <li><a href="http://35.213.181.248:8090/withdraw/empire_buff">Danh sách chọn rút Item Empire theo Buff</a></li>
    </ul>

    <hr />
    <li><a href="http://35.213.181.248:8090/empire/items ">Danh sách đang chờ rút Empire</a></li>
    <li><a href="/items">Danh sách đang chờ rút Etop</a></li>

    <hr />
    <li><a href="http://35.213.181.248:8090/withdraw/empire/report">Danh sách các items đã rút Empire</a></li>
    <li><a href="/withdraw/report">Danh sách các items đã rút Etop</a></li>

    <hr />
    <li><a href="/config">Cấu hình</a></li>
</ul>

<a href="/api/download">Tải file crawl</a>
<br />
<a href="/api/checkCrawl">Kiểm tra trạng thái crawl</a>

</body>
</body>
</html>